@import "../../../sass/variables";

.product {
  background-color: #fff;
  border-left: 1px solid #6d6d6d47;
  border-bottom: 1px solid #6d6d6d47;
  width: 338px;
  height: 420px;
  padding: 0 30px 30px;
  margin: 0 20px 30px 20px;
  position: relative;

  &:hover {
    animation: scale 2s;
  }

  .productImg {
    text-align: center;
    margin: 0 auto;
    display: block;
  }

  .productName {
    position: absolute;
    bottom: 100px;
    font-size: 18px;
  }

  .productPrice {
    position: absolute;
    bottom: 68px;
    font-size: 18px;
    font-weight: 500;
  }

  .productInf {
    position: absolute;
    top: 19px;
    left: 28px;
    line-height: 20px;
    width: 60px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.9px;
    color:#fff;
    background-color: red;
  }

  .button.button-product-list{
    position: absolute;
    bottom: 25px;
    right: -14px;
    background-color: $dark-color;
    color: #fff;
    font-size: 0.8rem;

    &:hover{
      cursor: pointer;
    }
  }
  
  .button-more {
    position: absolute;
    bottom: 25px;
    left: 25px;
    padding: 9px 21px;
    font-size: 0.8rem;
    background-color: #2125291c;
  }
}