@import "../../../sass/variables";

.product {
  background-color: #fff;
  border-left: 1px solid #6d6d6d47;
  border-bottom: 1px solid #6d6d6d47;
  width: 338px;
  height: 380px;
  padding: 0 30px 30px;
  margin: 0 20px 30px 20px;
  position: relative;

  .productImg {
    text-align: center;
    margin: 0 auto;
    display: block;
  }

  .productName {
    position: absolute;
    bottom: 100px;
    font-size: 18px;
    font-weight: 600;
  }

  .productPrice {
    position: absolute;
    bottom: 68px;
    font-size: 18px;
    font-weight: 500;
  }

  .productInf {
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 20px solid #f00;
    top: 19px;
    left: 8px;
    font-size: 12px;
    width: 101px;
    height: 0;
    line-height: 19px;
    text-align: center;
    color: #fff;
    transform: rotate(-46deg);
  }

  .button.button-product-list{
    position: absolute;
    bottom: 25px;
    right: -14px;
    background-color: $dark-color;
    color: #fff;
    font-size: 0.8rem;

    &:hover{
      cursor: pointer;
    }
  }
  
  .button-more {
    position: absolute;
    bottom: 25px;
    left: 25px;
    padding: 9px 21px;
    font-size: 0.8rem;
    background-color: #2125291c;
  }
}