@import "../../../sass/variables";
@import "../../../sass/components";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

.product-wrapper {
    display: flex;
    flex-direction: row;
    color: $dark-color;
    max-width: 90%;
    margin-top: -20px;
}

.product-wrapper-letf {
    padding: 100px;
    background-color:#fff;
}

.product-wrapper-right {
    margin-left: 50px;
    margin-top: 30px;
    
    .product-names {
        text-align: left;
        font-size: 1.8rem;
        min-width: 100%;
        text-transform: capitalize;
        font-family: 'Roboto', sans-serif;
        margin: 20px 0;
    }

    .product-description {
        line-height: 30px;
        margin-bottom: 30px;
        font-family: 'Roboto', sans-serif;
        font-size: 0.8rem;
        letter-spacing: 0;
        text-align: justify;
    }
    
    .product-inf {
        color: red;
        font-weight: 600;
        font-size: 20px;
    }

    .product-price {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 20px;
    }
}

