@import "../../sass/variables";

.topNav {
	display: flex;
	justify-content: flex-end;
	// align-items: center;
	padding-right: 70px;
	height: 45px;
	background-color: $second-color;
	width: 104%;
	position: relative;
	top: 16px;
	left: -2%;

	&::before {
		content: "";
		width: 100%;
		height: 16px;
		position: absolute;
		top: -16px;
		left: 0;
		background-color: $dark-color;
		border-bottom: 1px solid white;
	}

	a {
		text-decoration: none;
		margin-left: 25px;
		color: $main-color;
		text-transform: uppercase;
		font-size: 0.8rem;
		line-height: 45px;
		transition: 0.75s;
		letter-spacing: 1.5px;

		&:hover {
		text-decoration: none;
		}
	}
}

.topNav a:visited {
  color: $main-color;
}

.topNav a.active {
  color: $main-color;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

.cart-wrapper {
	position: relative;

	.cart-icon {
		margin-left: -18px;
		margin-top: 2px;
		padding: 10px;
	}
	
	.cart-quantity {
		color: $dark-color;
		min-height: 15px;
		min-width: 15px;
		line-height: 15px;
		text-align: center;
		border-radius: 50%;
		font-size: 10px;
    	letter-spacing: 0;
		background-color: $main-color;
		position: absolute;
		top: 9px;
		right: 3px;
	}
}
