@import "../../sass/variables";
.hide {
  display: none;
}

.homeContainer {
  display: flex;
  flex-direction: row;
  margin-top: 50px;

  .wrapperHomeLeft {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 30px;
    flex:1;

    .left-nav-btn {
      text-transform: uppercase;
      margin: 5px 0;
      font-weight: bold;
      color: $dark-color;
    }

    .left-nav-btn-nested {
        margin-left: 50px;
        text-transform: uppercase;
        margin-bottom: 6px;
        
        li .left-nav-btn-nested:hover {
          cursor: pointer;
          border-bottom: 1.5px solid $dark-color;
          width: inherit;
        }
    }

    h1 {
      font-size: 24px;
      font-weight: 400;
    }
  }

  .wrapperHomeRight {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }
}

.children-container {
  width: 80%;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  margin-top: 10px;

  li {
    margin-top: 5px;
  }
}
