.emmaliunga {
    min-height: 90vh;
    .wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 290px;
    }
    .emmaliunga-header {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    p {
        width: 80%;
    }
}